/*** Spinner ***/
/* #spinner {
    background-color: rgb(20, 68, 136);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
#spinner{
    height: 50px;
    width: 50px;
} */


/*** Navbar ***/

body {
    background-color: azure;
}

.nav1 {
    padding-top: 10px;
    background-color: rgb(65, 62, 62);
}

.text_btn:hover {
    color: rgb(13, 13, 13);
}

.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

/* .container {
    margin: 3px 3px;
    border-radius: 4px;
} */

/* a:hover{
    background-color: blue;
} */

/* .navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
} */






.call_text_main {
    width: 100%;
    /* float: left; */
    background-color: #ffffff;
    height: auto;
    padding: 10px 0px;

}

.call_taital {
    width: 100%;
    display: flex;

}

.call_text {
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.call_text a {
    width: 100%;
    float: left;
    color: #0D6EFD;
    font-size: 16px;
    padding: 5px 20px 0px 20px;
    text-decoration: none;
}

.call_text a:hover {
    color: #1d1d1d;
}

.padding_left_15 {
    padding-left: 10px;
}

.header_social_icon {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.header_social_icon ul {
    margin: 0px;
    padding: 0px;
}

.header_social_icon li {
    float: left;
    list-style-type: none;
}

.header_social_icon li a {
    float: left;
    color: #0D6EFD;
    font-size: 20px;
    text-align: center;
    padding: 0px 8px;

}

.header_social_icon li a:hover {
    color: #1d1d1d;
}
.nav_text li a:hover{
    color: #ffffff;
}

.serach_icon {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
}

.serach_icon a {
    color: #ffffff;
}

.serach_icon a:hover {
    color: #1d1d1d;
}

/*** Contact Start ***/
.contact-detail::before {
    position: absolute;
    content: "";
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(210, 243, 235, 1), rgba(230, 250, 245, .3)), url(/static/background.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
}

.contact-map {
    background: rgb(52,58,64);
}

.contact-form {
    background: rgb(52,58,64);
}

.h5{
    text-decoration: none;
}
/*** Contact End ***/
