{% extends "layout.html"%}
{% block content %}

<h3>Products Table</h3>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    style="margin-left: 45%">
    Add New Item
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Products</h1>

            </div>
            <div class="modal-body">
                <form action="/add_products" method="post">
                    <div class="mb-3">
                        <label for="Products_Name" class="form-label">Products Name</label>
                        <input name="product_name" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="Buying_price" class="form-label">Buying Price</label>
                        <input name="buying_price" type="number" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="Selling_price" class="form-label">Selling Price</label>
                        <input name="selling_price" type="number" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="stock_quantity" class="form-label">Stock quantity</label>
                        <input name="stock_quantity" type="number" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Products Name</th>
                <th scope="col">Buying price</th>
                <th scope="col">Seling Price</th>
                <th scope="col">Stock Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr {% for i in prods %}>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
            </tr {% endfor %}>

        </tbody>
        <tfoot>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Products Name</th>
                <th scope="col">Buying price</th>
                <th scope="col">Seling Price</th>
                <th scope="col">Stock Quantity</th>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock content %}